FORMAT: 1A
HOST: https://studio.justad.mobi


# Glispa Create Reporting API

The Host url for the reporting API is https://studio.justad.mobi. Both http & https traffic is allowed but we highly encourage to use https.

All requests result in a JSON response and `Content-Type: application/json; charset-8` response header. 

Date and time values in response are *[ISO-8601](https://en.wikipedia.org/wiki/ISO_8601)* standard and the format is: `YYYY-MM-DDTHH:mm:ss.sssZ`.

# Group Report request

## Examples [/Management/index.php?r=campaign/reporting&id={campaign_id}&from_date={from_date}&to_date={to_date}&report={report}&timezone={timezone}&token={token}]

### Sample Request [GET]

+ Parameters
    + campaign_id: `6036872433` (string, required) - The id of the Campaign.
    + token: `foo` (string, required) - Authentication token
    + from_date: `2018-06-19` (string, required) - The campaign's starting date.
    + to_date: `2018-06-20` (string, required) - The campaign's ending date.
    + report: `daily` (enum) - Type of the reporting (daily, etc).
        + Members
            + `daily`
            + `hourly`
    + timezone: `UTC` (string) - The desired timezone of the generated report.
        + Members
            + `Africa/Abidjan`
            + `Africa/Accra`
            + `Africa/Addis_Ababa`
            + `Africa/Algiers`
            + `Africa/Asmara`
            + `Africa/Bamako`
            + `Africa/Bangui`
            + `Africa/Banjul`
            + `Africa/Bissau`
            + `Africa/Blantyre`
            + `Africa/Brazzaville`
            + `Africa/Bujumbura`
            + `Africa/Cairo`
            + `Africa/Casablanca`
            + `Africa/Ceuta`
            + `Africa/Conakry`
            + `Africa/Dakar`
            + `Africa/Dar_es_Salaam`
            + `Africa/Djibouti`
            + `Africa/Douala`
            + `Africa/El_Aaiun`
            + `Africa/Freetown`
            + `Africa/Gaborone`
            + `Africa/Harare`
            + `Africa/Johannesburg`
            + `Africa/Juba`
            + `Africa/Kampala`
            + `Africa/Khartoum`
            + `Africa/Kigali`
            + `Africa/Kinshasa`
            + `Africa/Lagos`
            + `Africa/Libreville`
            + `Africa/Lome`
            + `Africa/Luanda`
            + `Africa/Lubumbashi`
            + `Africa/Lusaka`
            + `Africa/Malabo`
            + `Africa/Maputo`
            + `Africa/Maseru`
            + `Africa/Mbabane`
            + `Africa/Mogadishu`
            + `Africa/Monrovia`
            + `Africa/Nairobi`
            + `Africa/Ndjamena`
            + `Africa/Niamey`
            + `Africa/Nouakchott`
            + `Africa/Ouagadougou`
            + `Africa/Porto-Novo`
            + `Africa/Sao_Tome`
            + `Africa/Tripoli`
            + `Africa/Tunis`
            + `Africa/Windhoek`
            + `America/Adak`
            + `America/Anchorage`
            + `America/Anguilla`
            + `America/Antigua`
            + `America/Araguaina`
            + `America/Argentina/Buenos_Aires`
            + `America/Argentina/Catamarca`
            + `America/Argentina/Cordoba`
            + `America/Argentina/Jujuy`
            + `America/Argentina/La_Rioja`
            + `America/Argentina/Mendoza`
            + `America/Argentina/Rio_Gallegos`
            + `America/Argentina/Salta`
            + `America/Argentina/San_Juan`
            + `America/Argentina/San_Luis`
            + `America/Argentina/Tucuman`
            + `America/Argentina/Ushuaia`
            + `America/Aruba`
            + `America/Asuncion`
            + `America/Atikokan`
            + `America/Bahia`
            + `America/Bahia_Banderas`
            + `America/Barbados`
            + `America/Belem`
            + `America/Belize`
            + `America/Blanc-Sablon`
            + `America/Boa_Vista`
            + `America/Bogota`
            + `America/Boise`
            + `America/Cambridge_Bay`
            + `America/Campo_Grande`
            + `America/Cancun`
            + `America/Caracas`
            + `America/Cayenne`
            + `America/Cayman`
            + `America/Chicago`
            + `America/Chihuahua`
            + `America/Costa_Rica`
            + `America/Creston`
            + `America/Cuiaba`
            + `America/Curacao`
            + `America/Danmarkshavn`
            + `America/Dawson`
            + `America/Dawson_Creek`
            + `America/Denver`
            + `America/Detroit`
            + `America/Dominica`
            + `America/Edmonton`
            + `America/Eirunepe`
            + `America/El_Salvador`
            + `America/Fortaleza`
            + `America/Glace_Bay`
            + `America/Godthab`
            + `America/Goose_Bay`
            + `America/Grand_Turk`
            + `America/Grenada`
            + `America/Guadeloupe`
            + `America/Guatemala`
            + `America/Guayaquil`
            + `America/Guyana`
            + `America/Halifax`
            + `America/Havana`
            + `America/Hermosillo`
            + `America/Indiana/Indianapolis`
            + `America/Indiana/Knox`
            + `America/Indiana/Marengo`
            + `America/Indiana/Petersburg`
            + `America/Indiana/Tell_City`
            + `America/Indiana/Vevay`
            + `America/Indiana/Vincennes`
            + `America/Indiana/Winamac`
            + `America/Inuvik`
            + `America/Iqaluit`
            + `America/Jamaica`
            + `America/Juneau`
            + `America/Kentucky/Louisville`
            + `America/Kentucky/Monticello`
            + `America/Kralendijk`
            + `America/La_Paz`
            + `America/Lima`
            + `America/Los_Angeles`
            + `America/Lower_Princes`
            + `America/Maceio`
            + `America/Managua`
            + `America/Manaus`
            + `America/Marigot`
            + `America/Martinique`
            + `America/Matamoros`
            + `America/Mazatlan`
            + `America/Menominee`
            + `America/Merida`
            + `America/Metlakatla`
            + `America/Mexico_City`
            + `America/Miquelon`
            + `America/Moncton`
            + `America/Monterrey`
            + `America/Montevideo`
            + `America/Montreal`
            + `America/Montserrat`
            + `America/Nassau`
            + `America/New_York`
            + `America/Nipigon`
            + `America/Nome`
            + `America/Noronha`
            + `America/North_Dakota/Beulah`
            + `America/North_Dakota/Center`
            + `America/North_Dakota/New_Salem`
            + `America/Ojinaga`
            + `America/Panama`
            + `America/Pangnirtung`
            + `America/Paramaribo`
            + `America/Phoenix`
            + `America/Port-au-Prince`
            + `America/Port_of_Spain`
            + `America/Porto_Velho`
            + `America/Puerto_Rico`
            + `America/Rainy_River`
            + `America/Rankin_Inlet`
            + `America/Recife`
            + `America/Regina`
            + `America/Resolute`
            + `America/Rio_Branco`
            + `America/Santa_Isabel`
            + `America/Santarem`
            + `America/Santiago`
            + `America/Santo_Domingo`
            + `America/Sao_Paulo`
            + `America/Scoresbysund`
            + `America/Shiprock`
            + `America/Sitka`
            + `America/St_Barthelemy`
            + `America/St_Johns`
            + `America/St_Kitts`
            + `America/St_Lucia`
            + `America/St_Thomas`
            + `America/St_Vincent`
            + `America/Swift_Current`
            + `America/Tegucigalpa`
            + `America/Thule`
            + `America/Thunder_Bay`
            + `America/Tijuana`
            + `America/Toronto`
            + `America/Tortola`
            + `America/Vancouver`
            + `America/Whitehorse`
            + `America/Winnipeg`
            + `America/Yakutat`
            + `America/Yellowknife`
            + `Antarctica/Casey`
            + `Antarctica/Davis`
            + `Antarctica/DumontDUrville`
            + `Antarctica/Macquarie`
            + `Antarctica/Mawson`
            + `Antarctica/McMurdo`
            + `Antarctica/Palmer`
            + `Antarctica/Rothera`
            + `Antarctica/South_Pole`
            + `Antarctica/Syowa`
            + `Antarctica/Vostok`
            + `Arctic/Longyearbyen`
            + `Asia/Aden`
            + `Asia/Almaty`
            + `Asia/Amman`
            + `Asia/Anadyr`
            + `Asia/Aqtau`
            + `Asia/Aqtobe`
            + `Asia/Ashgabat`
            + `Asia/Baghdad`
            + `Asia/Bahrain`
            + `Asia/Baku`
            + `Asia/Bangkok`
            + `Asia/Beirut`
            + `Asia/Bishkek`
            + `Asia/Brunei`
            + `Asia/Choibalsan`
            + `Asia/Chongqing`
            + `Asia/Colombo`
            + `Asia/Damascus`
            + `Asia/Dhaka`
            + `Asia/Dili`
            + `Asia/Dubai`
            + `Asia/Dushanbe`
            + `Asia/Gaza`
            + `Asia/Harbin`
            + `Asia/Hebron`
            + `Asia/Ho_Chi_Minh`
            + `Asia/Hong_Kong`
            + `Asia/Hovd`
            + `Asia/Irkutsk`
            + `Asia/Jakarta`
            + `Asia/Jayapura`
            + `Asia/Jerusalem`
            + `Asia/Kabul`
            + `Asia/Kamchatka`
            + `Asia/Karachi`
            + `Asia/Kashgar`
            + `Asia/Kathmandu`
            + `Asia/Khandyga`
            + `Asia/Kolkata`
            + `Asia/Krasnoyarsk`
            + `Asia/Kuala_Lumpur`
            + `Asia/Kuching`
            + `Asia/Kuwait`
            + `Asia/Macau`
            + `Asia/Magadan`
            + `Asia/Makassar`
            + `Asia/Manila`
            + `Asia/Muscat`
            + `Asia/Nicosia`
            + `Asia/Novokuznetsk`
            + `Asia/Novosibirsk`
            + `Asia/Omsk`
            + `Asia/Oral`
            + `Asia/Phnom_Penh`
            + `Asia/Pontianak`
            + `Asia/Pyongyang`
            + `Asia/Qatar`
            + `Asia/Qyzylorda`
            + `Asia/Rangoon`
            + `Asia/Riyadh`
            + `Asia/Sakhalin`
            + `Asia/Samarkand`
            + `Asia/Seoul`
            + `Asia/Shanghai`
            + `Asia/Singapore`
            + `Asia/Taipei`
            + `Asia/Tashkent`
            + `Asia/Tbilisi`
            + `Asia/Tehran`
            + `Asia/Thimphu`
            + `Asia/Tokyo`
            + `Asia/Ulaanbaatar`
            + `Asia/Urumqi`
            + `Asia/Ust-Nera`
            + `Asia/Vientiane`
            + `Asia/Vladivostok`
            + `Asia/Yakutsk`
            + `Asia/Yekaterinburg`
            + `Asia/Yerevan`
            + `Atlantic/Azores`
            + `Atlantic/Bermuda`
            + `Atlantic/Canary`
            + `Atlantic/Cape_Verde`
            + `Atlantic/Faroe`
            + `Atlantic/Madeira`
            + `Atlantic/Reykjavik`
            + `Atlantic/South_Georgia`
            + `Atlantic/St_Helena`
            + `Atlantic/Stanley`
            + `Australia/Adelaide`
            + `Australia/Brisbane`
            + `Australia/Broken_Hill`
            + `Australia/Currie`
            + `Australia/Darwin`
            + `Australia/Eucla`
            + `Australia/Hobart`
            + `Australia/Lindeman`
            + `Australia/Lord_Howe`
            + `Australia/Melbourne`
            + `Australia/Perth`
            + `Australia/Sydney`
            + `Europe/Amsterdam`
            + `Europe/Andorra`
            + `Europe/Athens`
            + `Europe/Belgrade`
            + `Europe/Berlin`
            + `Europe/Bratislava`
            + `Europe/Brussels`
            + `Europe/Bucharest`
            + `Europe/Budapest`
            + `Europe/Busingen`
            + `Europe/Chisinau`
            + `Europe/Copenhagen`
            + `Europe/Dublin`
            + `Europe/Gibraltar`
            + `Europe/Guernsey`
            + `Europe/Helsinki`
            + `Europe/Isle_of_Man`
            + `Europe/Istanbul`
            + `Europe/Jersey`
            + `Europe/Kaliningrad`
            + `Europe/Kiev`
            + `Europe/Lisbon`
            + `Europe/Ljubljana`
            + `Europe/London`
            + `Europe/Luxembourg`
            + `Europe/Madrid`
            + `Europe/Malta`
            + `Europe/Mariehamn`
            + `Europe/Minsk`
            + `Europe/Monaco`
            + `Europe/Moscow`
            + `Europe/Oslo`
            + `Europe/Paris`
            + `Europe/Podgorica`
            + `Europe/Prague`
            + `Europe/Riga`
            + `Europe/Rome`
            + `Europe/Samara`
            + `Europe/San_Marino`
            + `Europe/Sarajevo`
            + `Europe/Simferopol`
            + `Europe/Skopje`
            + `Europe/Sofia`
            + `Europe/Stockholm`
            + `Europe/Tallinn`
            + `Europe/Tirane`
            + `Europe/Uzhgorod`
            + `Europe/Vaduz`
            + `Europe/Vatican`
            + `Europe/Vienna`
            + `Europe/Vilnius`
            + `Europe/Volgograd`
            + `Europe/Warsaw`
            + `Europe/Zagreb`
            + `Europe/Zaporozhye`
            + `Europe/Zurich`
            + `Indian/Antananarivo`
            + `Indian/Chagos`
            + `Indian/Christmas`
            + `Indian/Cocos`
            + `Indian/Comoro`
            + `Indian/Kerguelen`
            + `Indian/Mahe`
            + `Indian/Maldives`
            + `Indian/Mauritius`
            + `Indian/Mayotte`
            + `Indian/Reunion`
            + `Pacific/Apia`
            + `Pacific/Auckland`
            + `Pacific/Chatham`
            + `Pacific/Chuuk`
            + `Pacific/Easter`
            + `Pacific/Efate`
            + `Pacific/Enderbury`
            + `Pacific/Fakaofo`
            + `Pacific/Fiji`
            + `Pacific/Funafuti`
            + `Pacific/Galapagos`
            + `Pacific/Gambier`
            + `Pacific/Guadalcanal`
            + `Pacific/Guam`
            + `Pacific/Honolulu`
            + `Pacific/Johnston`
            + `Pacific/Kiritimati`
            + `Pacific/Kosrae`
            + `Pacific/Kwajalein`
            + `Pacific/Majuro`
            + `Pacific/Marquesas`
            + `Pacific/Midway`
            + `Pacific/Nauru`
            + `Pacific/Niue`
            + `Pacific/Norfolk`
            + `Pacific/Noumea`
            + `Pacific/Pago_Pago`
            + `Pacific/Palau`
            + `Pacific/Pitcairn`
            + `Pacific/Pohnpei`
            + `Pacific/Port_Moresby`
            + `Pacific/Rarotonga`
            + `Pacific/Saipan`
            + `Pacific/Tahiti`
            + `Pacific/Tarawa`
            + `Pacific/Tongatapu`
            + `Pacific/Wake`
            + `Pacific/Wallis`
            + `UTC`



+ Response 200 (application/json; charset=utf-8)

        {
            "campaigns": [{
                "id": "6033",
                "name": "Summer campaign",
                "from_date": "2019-06-01T00:00:00.000Z",
                "to_date": "2020-06-01T00:00:00.000Z",
                "report": "daily",
                "ads": [
                  {
                    "id": "123123",
                    "name": "test_ad",
                    "format": "Interstitial",
                    "stats": [
                      {
                        "date": "2019-06-01T00:00:00.000Z",
                        "viral": 0,
                        "served_impressions": 23232,
                        "served_variations": 26932,
                        "impressions": 343434,
                        "started_impressions": 15,
                        "unique_impressions": 154,
                        "first_interaction": 13,
                        "time_spent": 12.45,
                        "call_duration": 0,
                        "ctr": 0.24,
                        "navigation_rate": 0.12,
                        "engagement_rate": 1,
                        "open_url": 13,
                        "call_phone": 0,
                        "send_sms": 0,
                        "add_to_calendar": 0,
                        "open_map": 0,
                        "google_search": 0,
                        "download_file": 0,
                        "download_app": 0,
                        "open_facebook": 0,
                        "open_twitter": 0,
                        "send_email": 0,
                        "trackablelab": 0,
                        "mraidnotfound": 313,
                        "video_started": 0,
                        "video_first_quartile": 0,
                        "video_midpoint": 0,
                        "video_third_quartile": 0,
                        "video_completed": 0,
                        "video_stopped": 0
                      },
                      {
                        "date": "2019-06-02T00:00:00.000Z",
                        "viral": 0,
                        "served_impressions": 23232,
                        "served_variations": 26932,
                        "impressions": 343434,
                        "started_impressions": 15,
                        "unique_impressions": 154,
                        "first_interaction": 13,
                        "time_spent": 12.45,
                        "call_duration": 0,
                        "ctr": 0.24,
                        "navigation_rate": 0.12,
                        "engagement_rate": 1,
                        "open_url": 13,
                        "call_phone": 0,
                        "send_sms": 0,
                        "add_to_calendar": 0,
                        "open_map": 0,
                        "google_search": 0,
                        "download_file": 0,
                        "download_app": 0,
                        "open_facebook": 0,
                        "open_twitter": 0,
                        "send_email": 0,
                        "trackablelab": 0,
                        "mraidnotfound": 313,
                        "video_started": 0,
                        "video_first_quartile": 0,
                        "video_midpoint": 0,
                        "video_third_quartile": 0,
                        "video_completed": 0,
                        "video_stopped": 0
                      }
                    ]
                  }
                ]
              }
            ]
        }